<!DOCTYPE html>

<html>
    
<head>
	<meta charset="utf-8">
	<title></title>
	<style></style>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
    
<body>
	<div id="container">
        <ul class="nav-bar">
            <li style="float: left; border: none" class="nav-bar-links"><%= link_to 'Header Text', projects_path, :class => "nav-link" %></li>
            <li class="nav-bar-links"><%= link_to "New", new_project_path, :class => "nav-link" %></li>
        </ul>
		<div id="logo-holder">
			<img id="logo" src="http://www.morrell-middleton.co.uk/wp-content/uploads/logo-placeholder.jpg" alt="placeholder">
		</div>
        <div class="image-list-holder list-left">
            <ul class="image-list">
                <% (0..@projects.length).step(4) do |index| %>
                    <li class="display-img-holder">
                        <% if !(@projects[index].nil?) %>
                             <%= link_to image_tag(@projects[index].image_link,  :class => "display-img"), project_path(@projects[index]) %>
                             <%= link_to project_path(@projects[index]) do %>
                                <figcaption>
                                    <div>                                    
                                        <h3><%= @projects[index].title %></h3>
                                        <hr class="border" />
                                        <%= @projects[index].photographer %>
                                        <br>
                                        <%= @projects[index].price %>
                                    </div>
                                </figcaption>
                             <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="image-list-holder list-left">
            <ul class="image-list">
                <% (1..@projects.length).step(4) do |index| %>
                    <li class="display-img-holder">
                        <% if !(@projects[index].nil?) %>
                             <%= link_to image_tag(@projects[index].image_link,  :class => "display-img"), project_path(@projects[index]) %>
                             <%= link_to project_path(@projects[index]) do %>
                                <figcaption>
                                    <div>                                    
                                        <h3><%= @projects[index].title %></h3>
                                        <hr class="border" />
                                        <%= @projects[index].photographer %>
                                        <br>
                                        <%= @projects[index].price %>
                                    </div>
                                </figcaption>
                            <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="image-list-holder list-right">
            <ul class="image-list">
                <% (3..@projects.length).step(4) do |index| %>
                    <li class="display-img-holder">
                        <% if !(@projects[index].nil?) %>
                             <%= link_to image_tag(@projects[index].image_link,  :class => "display-img"), project_path(@projects[index]) %>
                             <%= link_to project_path(@projects[index]) do %>
                                <figcaption>
                                    <div>                                    
                                        <h3><%= @projects[index].title %></h3>
                                        <hr class="border" />
                                        <%= @projects[index].photographer %>
                                        <br>
                                        <%= @projects[index].price %>
                                    </div>
                                </figcaption>
                             <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="image-list-holder list-right">
            <ul class="image-list">
                <% (2..@projects.length).step(4) do |index| %>
                    <li class="display-img-holder">
                        <% if !(@projects[index].nil?) %>
                             <%= link_to image_tag(@projects[index].image_link,  :class => "display-img"), project_path(@projects[index]) %>
                             <%= link_to project_path(@projects[index]) do %>
                                <figcaption>
                                    <div>                                    
                                        <h3><%= @projects[index].title %></h3>
                                        <hr class="border" />
                                        <%= @projects[index].photographer %>
                                        <br>
                                        <%= @projects[index].price %>
                                    </div>
                                </figcaption>
                             <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
	</div>
</body>
    
</html>