<!DOCTYPE html>

<html>
    
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        #image-header{
            background:#3df url(<%= @project.image_link %>) no-repeat fixed center;
            background-size: cover;
            width: 100%;
            height: 100vh;
            margin: 0;
            text-align:center
        }
    </style>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <ul class="nav-bar">
            <li style="float: left; border: none;" class="nav-bar-links"><%= link_to 'Header Text', projects_path, :class => "nav-link" %></li>
            <li class="nav-bar-links"><%= link_to "Back", projects_path, :class => "nav-link" %></li>
            <li class="nav-bar-links"><%= link_to 'Edit', edit_project_path(@project), :class => "nav-link" %></li>
            <li class="nav-bar-links"><%= link_to "Delete", project_path(@project), :method => "delete", :class => "nav-link", data: { confirm: 'Are you sure?' }%></li>
        </ul>
        <div>
            <header id="image-header">
                <div id="image-text-holder">
                    <h1 id="img-text">
                        <%= @project.title %>
                        <div class="border"></div>
                    </h1>
                </div>
            </header>
        </div>
        <div class="text-holder" >
            <div class="text-paragraph">
                <%= @project.text %>
            </div>
        </div>
    </div>
</body>

</html>